 #player{
     background: chocolate;
     border-radius: 5px;
     width: 20px;
     height: 20px;
     position: absolute;
 }

 #background{
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#blaster{
    background: yellow;
    border-radius: 20px;
    width: 2px;
    height: 40px;
    position: absolute;
}
.enemy{
    background: yellowgreen;
    width: 35px;
    height: 35px;
    position: absolute;
}

#score{
    color: yellow;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}
#gamelevel{
    color: yellow;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
    left: 20px;
    top: 50px;
}

#gameover{
    /* background: white; */
    color:tomato;
    font-size: 40px;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
}
